form {
    width: 300px;
    margin: auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    margin-top: 1em;
    display: block;
}

input, select {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

button {
    margin-top: 1em;
    padding: 0.7em;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 0.3em;
}

button:hover {
    background-color: #218838;
}
